# Whatever works best for you. Choose a good password with `pwgen 20`
DATABASE_USERNAME=dvoting
DATABASE_PASSWORD=6jKqPR9lW3OfXBPX4uPf7zMQg
DATABASE_HOST=db
DATABASE_PORT=5432
DB_PATH=/data/dvoting

# How to reach the proxy
DELA_PROXY_URL=https://proxy.dela-1.c4dt.org
PROXYPORT=8080

# Create these using the `keygen` command here: https://github.com/c4dt/d-voting/blob/main/web/backend/README.md
PRIVATE_KEY=f4116ebf22ec19b3fa1e277d9b0c524dcb5627d88c8bc133ae7d043898b8880a
PUBLIC_KEY=7a97bfc968c74fbf0553fdec1a97d8265bd3a32e31edd61e296ea701a009147e

# Where to get the frontend
FRONT_END_URL=https://dvoting.c4dt.org

# How the frontend can contact the backend - they should be on the same server, in the same docker-compose
BACKEND_HOST=backend
BACKEND_PORT=5000
SESSION_SECRET=53IN64CKJhtMyqFnYp285O3lx

# For the nodes
NODEPORT=2000
PROXY_LOG=info

# Things passed to the frontend
# DevLogin allows everybody to connect to the service and to change the ID
REACT_APP_DEV_LOGIN="true"
# Randomizes votes, so that one person can vote multiple times under multiple IDs
REACT_APP_RANDOMIZE_VOTE_ID="true"
# The SCIPER number used for the admin.
REACT_APP_SCIPER_ADMIN=111111
